/* .rect-class, .rect-bg-class {
    width: 10px;
    height: 10px;
} */

.rect-class {
    width: 6px;
    height: 6px;
}

.rect-main-class:nth-child(4n) {
    transition: 0.6s background-color linear, 0.3s transform linear;
}

.rect-main-class:hover {
    position: absolute;
    transform: scale(2);
    border: 1px solid black;
    transition: 0.3s all linear;
}

/*.rect-main-class:hover::after {
    position: absolute;
    content: "X";
    font-family: Arial, san-serif;
    font-size: 3px;
    color: black;
}*/

.rect-bg-class {
    border-radius: 100%;
}