/* .rect-class, .rect-bg-class {
    width: 10px;
    height: 10px;
} */

.rect-class {
    width: 6px;
    height: 6px;
}

.rect-main-class:nth-child(4n) {
    transition: 2s background-color linear;
}

.rect-main-class:hover {
    position: absolute;
    transform: scale(2);
    border: 1px solid black;
    transition: 0.3s all linear;
}

.rect-bg-class {
    border-radius: 100%;
}